<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改密码页面</title>
<!-- Bootstrap核心CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- bootstrap的js -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- 引入自定义javascript -->
<script type="text/javascript">
	var change = function() {
		//获取数据并去除两侧空格
		var username = $("#username").val().trim();
		var password = $("#password").val().trim();
		var new_password1 = $("#new_password1").val().trim();
		var new_password2 = $("#new_password2").val().trim();
		console.log(username);
		console.log(password);
		console.log(new_password1);
		console.log(new_password2);
		//判断是否均非空
		if (username.length == 0 || password.length == 0
				|| new_password1.length == 0 || new_password2.length == 0) {
			alert("账号，旧密码，新密码，重复新密码等均不可为空");
		} else if (new_password1 != new_password2) {
			//判断新密码是否相同
			alert("两次新密码不一致，请重新输入");
		} else {
			$.ajax({
				url : "/users/password_change",
				type : "POST",
				data : {
					"username" : username,
					"password" : password,
					"new_password1" : new_password1,
					"new_password2" : new_password2
				},
				dataType : "JSON",
				async : false,
				success : function(result) {
					alert("修改成功，请进行登录");
					window.location.href = result.data;
				},
				error : function(err) {
					alert(err.responseJSON.message);
				}
			});
		}
	}
</script>
</head>
<body>
	<!-- 标题 -->
	<h2 class="text-center">
		<a href="/">你问我答网</a>
	</h2>
	<!-- 修改密码 -->
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div>
				<input type="text" class="form-control" id="username"
					placeholder="账号">
			</div>
			<div>
				<input type="password" class="form-control" id="password"
					placeholder="旧密码">
			</div>
			<div>
				<input type="password" class="form-control" id="new_password1"
					placeholder="新密码">
			</div>
			<div>
				<input type="password" class="form-control" id="new_password2"
					placeholder="重复新密码">
			</div>
			<div class="text-center">
				<button type="button" class="btn btn-info" onclick="change()">修改密码</button>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</body>