<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>动态分享页面</title>
<!-- Bootstrap核心CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- bootstrap的js -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 首页标题 -->
	<div th:include="template/header::blog_header"></div>
	<!-- 发送动态 -->
	<form action="/shares" method="post">
		<textarea class="form-control" rows="3" name="content"
			placeholder="分享内容"></textarea>
		<button type="submit">发送</button>
	</form>
</body>